.b-footer
  .b-footer__logo
    img(src=config.path.img + "logo-uefa.png").b-footer__logo__img
  .b-footer__row
    .b-footer__row__col.b-footer__row__col--left
      .b-footer__row__title
        .b-footer__row__title__inner Главный приз
      #footer-prize
    .b-footer__row__col.b-footer__row__col--right
      .b-footer__row__title
        .b-footer__row__title__inner Расскажи о конкурсе
      #footer-social

  .b-footer__content
    .b-footer__content__title
      h2.b-footer__content__title__heading Первый матч состоится уже 10 июня!
    .b-footer__content__text
      span.b-footer__content__text__inner Мы собрали смешные оговорки и экспромты футбольных комментаторов. Посмотрим, насколько хорошо вы разбираетесь в футбольном юморе.
    .b-footer__content__btns
      button#main-start.b-footer__content__btns__btn
        span.b-footer__content__btns__btn__inner Ииии... игра начинается!
  .b-footer__rules
    a(href="#").b-footer__rules__link
      span.b-footer__rules__link__inner Правила конкурса



