.b-header#header
  .b-header__logos
    .b-header__logos__logo
      .b-header__logos__logo__ott
        img(src=config.path.img + 'logo-ott.png').b-header__logos__logo__ott__img
      .b-header__logos__logo__uefa
        img(src=config.path.img + 'logo-uefa--white.png').b-header__logos__logo__uefa__img
  .b-header__title#main-title
    h1.b-header__title__heading Вы готовы к Чемпионату Европы по футболу?
