@scale:2;

  @--fb-x: 40px;
  @--fb-y: 25px;
  @--fb-offset-x: -40px;
  @--fb-offset-y: -25px;
  @--fb-width: 18px;
  @--fb-height: 40px;
  @--fb-total-width: 76px;
  @--fb-total-height: 78px;
  @--fb-image: 'social/icons-social.png';
  @--fb: 40px 25px -40px -25px 18px 40px 76px 78px 'social/icons-social.png';
  @--ok-x: 0px;
  @--ok-y: 34px;
  @--ok-offset-x: 0px;
  @--ok-offset-y: -34px;
  @--ok-width: 24px;
  @--ok-height: 44px;
  @--ok-total-width: 76px;
  @--ok-total-height: 78px;
  @--ok-image: 'social/icons-social.png';
  @--ok: 0px 34px 0px -34px 24px 44px 76px 78px 'social/icons-social.png';
  @--tw-x: 0px;
  @--tw-y: 0px;
  @--tw-offset-x: 0px;
  @--tw-offset-y: 0px;
  @--tw-width: 36px;
  @--tw-height: 30px;
  @--tw-total-width: 76px;
  @--tw-total-height: 78px;
  @--tw-image: 'social/icons-social.png';
  @--tw: 0px 0px 0px 0px 36px 30px 76px 78px 'social/icons-social.png';
  @--vk-x: 40px;
  @--vk-y: 0px;
  @--vk-offset-x: -40px;
  @--vk-offset-y: 0px;
  @--vk-width: 36px;
  @--vk-height: 21px;
  @--vk-total-width: 76px;
  @--vk-total-height: 78px;
  @--vk-image: 'social/icons-social.png';
  @--vk: 40px 0px -40px 0px 36px 21px 76px 78px 'social/icons-social.png';


.sprite-width(@sprite) {
  @width: ~`parseInt("@{sprite}".split(', ')[4], 10)`;
  width: unit(@width, px)/@scale;
}

.sprite-height(@sprite) {
  @height: ~`parseInt("@{sprite}".split(', ')[5], 10)`;
  height: unit(@height, px)/@scale;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`parseInt("@{sprite}".split(', ')[2], 10)`;
  @sprite-offset-y: ~`parseInt("@{sprite}".split(', ')[3], 10)`;
  background-position: unit(@sprite-offset-x, px)/@scale unit(@sprite-offset-y, px)/@scale;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
}

.b-social-icon{
    display: block;
    position: relative;
    background-image: url('@{pathImg}social/icons-social.png');
    background-size: unit(76, px)/@scale unit(78, px)/@scale;
}


.b-social-icon--fb {
  .sprite-width(@--fb);
  .sprite-height(@--fb);
  .sprite-position(@--fb);
}


.b-social-icon--ok {
  .sprite-width(@--ok);
  .sprite-height(@--ok);
  .sprite-position(@--ok);
}


.b-social-icon--tw {
  .sprite-width(@--tw);
  .sprite-height(@--tw);
  .sprite-position(@--tw);
}


.b-social-icon--vk {
  .sprite-width(@--vk);
  .sprite-height(@--vk);
  .sprite-position(@--vk);
}


