@import "icons-social";

.b-social-btn {
  border-radius: 50%;
  background-color: rgb(13, 29, 52);
  width: 38px;
  height: 38px;
  text-align: center;

  &:before {
    content: ' ';
    display: inline-block;
    height: 38px;
    width: 0;
    vertical-align: middle;
  }

  .b-social-icon {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    cursor: pointer;
    background-color: #69b7e8;
  }

  .blue & {
    background: #69b7e8;
    &:hover {

      background: darken(#69b7e8, 10%);
    }
  }
}

