@import './../../assets/mixins';
@import './../../mixin';

.b-answer_btn {
  //background-color: rgb(255, 255, 255);
  background: transparent;
  width: 100%;
  max-width: 330px;
  height: 56px;
  position: relative;

  border: 1px solid #eee;

  box-sizing: border-box;

  cursor: pointer;

  margin: 0 auto;

  &:before {
    content: ' ';
    width: 0;
    height: 56px;
    display: inline-block;
    vertical-align: middle;
  }
  &__icon {
    width: 40px;
    height: 56px;
    position: absolute;
    top: 0;
    left: 0;

    .stop-flickering();

    &:before {
      content: ' ';
      display: block;
      border-radius: 50%;
      background-color: rgb(221, 221, 221);
      width: 9px;
      height: 9px;

      position: absolute;

      top: 50%;
      left: 50%;

      margin-left: -9px/2;
      margin-top: -9px/2;

      .transition(color @three ease, height @five @easeTimingFunction, width @five @easeTimingFunction, margin @five @easeTimingFunction);

    }

    &:after {

      content: ' ';
      display: block;

      background-color: transparent;
      background-position: center;
      background-size: cover;
      position: absolute;

      top: 50%;
      left: 50%;

      .scale(0, 0);
      .rotateZ(-90deg);

      .transition(transform @five @easeTimingFunction);

    }
  }

  &__text {
    vertical-align: middle;
    display: inline-block;
    padding-left: 40px;
    padding-right: 10px;
    font-size: 14px;
    .fontLato();
    color: rgb(102, 102, 102);
    line-height: 1.3;
    text-align: left;
    .transition(opacity .3 ease);
    .transform-origin(40px center);
  }
  &:hover {
    background: #eee;
  }
  &:hover & {
    @c: lighten(#2d5589, 10%);
    &__icon {
      &:before {
        background: @c;
      }
    }
    &__text {
      color: @c;
    }
  }

  display: block;

  &__text {
    .show_with_scale_right(@five, 0);
  }

  &__icon {
    .show_with_scale(@five, 0);
  }

  &.right &, &.false & {
    &__icon {
      &:before {
        width: 20px;
        height: 20px;

        margin-left: -10px;
        margin-top: -10px;
      }

      &:after {
        .scale(1, 1);
        .rotateZ(0deg);
      }
    }

    &__text {
    }
  }

  &.right & {
    &__icon {
      &:before {
        background-color: #2fa917;
      }

      &:after {
        background-image: url('@{pathImg}answer/right.png');

        margin-left: -22px/2/2;
        margin-top: -16px/2/2;

        width: 22px/2;
        height: 16px/2;
      }
    }

    &__text {
      color: #2fa917;
    }
  }

  &.false & {
    &__icon {
      &:before {
        background-color: #de4247;
      }

      &:after {
        background-image: url('@{pathImg}answer/error.png');

        margin-left: -16px/2/2;
        margin-top: -16px/2/2;

        width: 16px/2;
        height: 16px/2;
      }
    }

    &__text {
      color: #de4247;
    }

  }
}

.b-questionnaire {
  &__bottom {

    &__answers {
      &__row {
        &__col {

          .btn(@duration, @delay) {
            .b-answer_btn {
              &__icon {
                .animation-delay(@delay);
              }

              &__text {
                .animation-delay(@delay + @delay/3);
              }
            }
          }

          @d: .7s;
          &:nth-child(1) {
            .btn(0, @d/2);
          }
          &:nth-child(2) {
            .btn(0, @d*2/2);
          }
          &:nth-child(3) {
            .btn(0, @d*3/2);
          }
          &:nth-child(4) {
            .btn(0, @d*4/2);
          }
        }
      }

    }
  }
}