@import "./../../assets/mixins";

.b-question-photo {
  width: 330px;
  height: 220px;
  position: relative;
  border: 6px solid white;
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 27px rgba(0, 0, 0, .3);
  backface-visibility: visible;
  .rotateX(-180deg);
  .transition(transform @five @easeTimingFunction, opacity @three ease, width @five @easeTimingFunction, height @five @easeTimingFunction);

  @media(max-width: 350px){
    width: 90%;
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: white url('@{pathImg}questions/photo-back.png') center no-repeat;
    background-size: cover;
    .transition(opacity .25s linear);
  }
  &__img {
    z-index: 0;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darken(darkblue, 20%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .transition(opacity .25s linear .25s);
  }

  .b-question.visible & {
    .rotateX(0deg);

    &__back {
      opacity: 0;
    }

    &__img {
      opacity: 1;
    }
  }
}