@import "./../../assets/mixins";

.b-progress {
  display: table;
  width: 100%;
  @media (max-width: 820px) {
    width: 90%;
    margin: 0 auto;
  }
  &__row {
    display: table-row;
    &__bar, &__count {
      display: table-cell;
    }

    &__count {
      width: 78px;
      text-align: right;
    }
  }

  &__bar {
    width: 100%;
    background-color: rgb(49, 82, 137);
    position: relative;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;

    &__load {
      background-color: rgb(113, 181, 232);
      position: absolute;
      left: 0;
      top: 0;
      height: 10px;

      border-radius: 5px 0 0 5px;

      .transition(width @three ease-out, border-radius @three ease-out);

      .b-progress.done & {
        border-radius: 5px 5px 5px 5px;
      }
    }

  }

  &__count {
    font-size: 14px;
    .fontLato();
    color: rgb(0, 0, 0);
    line-height: 2.143;
  }
}