@import "../../assets/mixins";
@import "../../mixin";

.keyframes(show_question, { 0% {
  .translate(100%, 0);
} 100% {
    .translate(0, 0);
  } });

.keyframes(hide_question, { 0% {
  opacity: 1;
  .translate(0, 0);
} 100% {
    opacity: 0;
    .translate(-100%, 0);
  } });

.b-question {

  padding-bottom: 30px;
  display: none;
  .translate(100%, 0);

  &.current {
    .translate(0, 0);
    z-index: 1;
    display: block;
  }

  &.prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    z-index: 0;
    .anim(hide_question, @five, 0);
  }

  &.next {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    //.translate(100%, 0);
  }

  &.next.current {
    position: relative;
    display: block;
    .anim(show_question, @five, 0);
  }

  &__media {
    padding: 20px 0;
    position: relative;
    .perspective(1000px);

    .b-question-photo {
      margin: 0 auto;
    }

    &__video {
      position: absolute;
      width: 100%;
      top: 0;
      padding: 20px 0;
      z-index: -1;
      .b-video {
        margin: 0 auto;
      }

      &__links {
        margin: 20px auto;
        .clearfix();
        text-align: center;
        display: none;

        &__btn {
          margin: 0 10px;
          display: inline-block;
          font-size: 0;
          vertical-align: middle;

          &:nth-child(2) {
            width: 216px;
            text-align: center;
            margin: 0 auto;
            height: 48px;
          }

          //@media(max-width: 680px){
          //  display: block;
          //  margin: 10px 0 ;
          //}

          button {
            text-align: center;
            background-color: rgb(230, 10, 11);
            left: 459px;
            top: 582px;
            height: 30px;

            border: 0;
            padding: 0 20px;
            cursor: pointer;

            font-size: 18px;
            .fontAvenirNext();
            color: rgb(255, 255, 255);
            line-height: 30px;
          }
        }

        @media (max-width: 580px) {
          margin: 20px auto;
          text-align: center;
          display: none;
          position: relative;
          .clearfix();

          &__btn {
            margin: 0 10px;
            display: inline-block;

            &:nth-child(2) {
              width: 216px;
              text-align: center;
              height: 38px;
              position: absolute;
              top: 50px;
              left: 0;
              right: 0;

            }

          }
        }

        @media (max-width: 375px) {
          &__btn {
            margin: 0 2px;
          }
          button {
            max-width: 150px;
          }
        }
      }
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    max-width: 675px;
    margin: 0 auto;
    .transition(opacity @three ease);

    //@media(max-width: 680px){
    //  margin: 0 10px 30px;
    //}
  }

  &.answered & {
    &__media {
      &__video {
        z-index: 1;
        &__links {
          display: block;
          &__btn {
          }
        }
      }
    }

    &__text {
      opacity: 0;
      z-index: -1;
      //@media(max-width: 680px){
      //  margin: 0 10px 30px;
      //  height: 108px;
      //}
    }
  }
}