@import "./../../assets/mixins";

.b-question-text {
  text-align: center;
  opacity: 0;
  .transition(opacity @five ease @three);
  &__inner {
    font-size: 21px;
    .fontAvenirNext();
    color: rgb(255, 255, 255);
    line-height: 1.333;
  }


  .b-question.visible & {
    opacity: 1;
  }
}

