.b-question-video {
  position: relative;
  width: 330px;
  height: 220px;
  margin: 0 auto;
  opacity: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  .rotateX(-180deg);
  .transition(transform @five @easeTimingFunction, opacity @three ease, width @five @easeTimingFunction, height @five @easeTimingFunction);
}

.b-video {

  position: absolute;
  width: 100%;
  height: 100%;

  background-color: #000;

  border: 6px solid white;
  border-radius: 6px;
  box-shadow: 0 0 27px rgba(0, 0, 0, .3);
  backface-visibility: visible;
  box-sizing: border-box;

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__play{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &.hide{
      display: none;
    }

    &__btn{
      width: 80px;
      height: 80px;


      background: #e60a0b;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;

      //border-radius: 3px;

      &:after{
        content: ' ';

        position: absolute;
        top: 20px;
        left: 26px;
        width: 0;
        height: 0;
        border-left: 35px solid white;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
      }
    }
  }
}

.b-question.answered {
  .b-question-photo, .b-question-video {
    width: 330px*2;
    height: 220px*2;


    @media(max-width: 660px){
      width: 90%;
      height: 220px;
    }
  }
  .b-question-photo {
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    .rotateX(180deg);
  }
  .b-question-video {
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    .rotateX(0deg);
  }

}