@import "./assets/mixins";

@pathLato: "@{pathFonts}Lato/";

.fontImport(
        "Lato",
        "@{pathLato}LatoBold/LatoBold.eot",
        "@{pathLato}LatoBold/LatoBold.eot?#iefix", "embedded-opentype",
        "@{pathLato}LatoBold/LatoBold.woff", "woff",
        "@{pathLato}LatoBold/LatoBold.ttf", "truetype",
        700,
        normal);

.fontImport(
        "Lato",
        "@{pathLato}LatoRegular/LatoRegular.eot",
        "@{pathLato}LatoRegular/LatoRegular.eot?#iefix", "embedded-opentype",
        "@{pathLato}LatoRegular/LatoRegular.woff", "woff",
        "@{pathLato}LatoRegular/LatoRegular.ttf", "truetype",
        400,
        normal);

.fontImport(
        "Lato",
        "@{pathLato}LatoLight/LatoLight.eot",
        "@{pathLato}LatoLight/LatoLight.eot?#iefix", "embedded-opentype",
        "@{pathLato}LatoLight/LatoLight.woff", "woff",
        "@{pathLato}LatoLight/LatoLight.ttf", "truetype",
        200,
        normal);


@pathAvenir: "@{pathFonts}Avenir_Next/";

@font-face {
  font-family: "AvenirNext";
  src: url("@{pathAvenir}AvenirNext-Heavy.eot");
  src: url("@{pathAvenir}AvenirNext-Heavy.eot?#iefix") format("embedded-opentype"),
  url("@{pathAvenir}AvenirNext-Heavy.woff2") format("woff2"),
  url("@{pathAvenir}AvenirNext-Heavy.woff") format("woff"),
  url("@{pathAvenir}AvenirNext-Heavy.ttf") format("ttf"),
  url("@{pathAvenir}AvenirNext-Heavy.svg#AvenirNext-Heavy") format("svg");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "AvenirNext";
  src: url("@{pathAvenir}AvenirNext-HeavyItalic.eot");
  src: url("@{pathAvenir}AvenirNext-HeavyItalic.eot?#iefix") format("embedded-opentype"),
  url("@{pathAvenir}AvenirNext-HeavyItalic.woff2") format("woff2"),
  url("@{pathAvenir}AvenirNext-HeavyItalic.woff") format("woff"),
  url("@{pathAvenir}AvenirNext-HeavyItalic.ttf") format("ttf"),
  url("@{pathAvenir}AvenirNext-HeavyItalic.svg#AvenirNext-HeavyItalic") format("svg");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "AvenirNext";
  src: url("@{pathAvenir}AvenirNext-Bold.eot");
  src: url("@{pathAvenir}AvenirNext-Bold.eot?#iefix") format("embedded-opentype"),
  url("@{pathAvenir}AvenirNext-Bold.woff2") format("woff2"),
  url("@{pathAvenir}AvenirNext-Bold.woff") format("woff"),
  url("@{pathAvenir}AvenirNext-Bold.ttf") format("ttf"),
  url("@{pathAvenir}AvenirNext-Bold.svg#AvenirNext-Bold") format("svg");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "AvenirNext";
  src: url("@{pathAvenir}AvenirNext-BoldItalic.eot");
  src: url("@{pathAvenir}AvenirNext-BoldItalic.eot?#iefix") format("embedded-opentype"),
  url("@{pathAvenir}AvenirNext-BoldItalic.woff2") format("woff2"),
  url("@{pathAvenir}AvenirNext-BoldItalic.woff") format("woff"),
  url("@{pathAvenir}AvenirNext-BoldItalic.ttf") format("ttf"),
  url("@{pathAvenir}AvenirNext-BoldItalic.svg#AvenirNext-BoldItalic") format("svg");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "AvenirNext";
  src: url("@{pathAvenir}AvenirNext-DemiBold.eot");
  src: url("@{pathAvenir}AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype"),
  url("@{pathAvenir}AvenirNext-DemiBold.woff2") format("woff2"),
  url("@{pathAvenir}AvenirNext-DemiBold.woff") format("woff"),
  url("@{pathAvenir}AvenirNext-DemiBold.ttf") format("ttf"),
  url("@{pathAvenir}AvenirNext-DemiBold.svg#AvenirNext-DemiBold") format("svg");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "AvenirNext";
  src: url("@{pathAvenir}AvenirNext-DemiBoldItalic.eot");
  src: url("@{pathAvenir}AvenirNext-DemiBoldItalic.eot?#iefix") format("embedded-opentype"),
  url("@{pathAvenir}AvenirNext-DemiBoldItalic.woff2") format("woff2"),
  url("@{pathAvenir}AvenirNext-DemiBoldItalic.woff") format("woff"),
  url("@{pathAvenir}AvenirNext-DemiBoldItalic.ttf") format("ttf"),
  url("@{pathAvenir}AvenirNext-DemiBoldItalic.svg#AvenirNext-DemiBoldItalic") format("svg");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "AvenirNext";
  src: url("@{pathAvenir}AvenirNext-Medium.eot");
  src: url("@{pathAvenir}AvenirNext-Medium.eot?#iefix") format("embedded-opentype"),
  url("@{pathAvenir}AvenirNext-Medium.woff2") format("woff2"),
  url("@{pathAvenir}AvenirNext-Medium.woff") format("woff"),
  url("@{pathAvenir}AvenirNext-Medium.ttf") format("ttf"),
  url("@{pathAvenir}AvenirNext-Medium.svg#AvenirNext-Medium") format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "AvenirNext";
  src: url("@{pathAvenir}AvenirNext-MediumItalic.eot");
  src: url("@{pathAvenir}AvenirNext-MediumItalic.eot?#iefix") format("embedded-opentype"),
  url("@{pathAvenir}AvenirNext-MediumItalic.woff2") format("woff2"),
  url("@{pathAvenir}AvenirNext-MediumItalic.woff") format("woff"),
  url("@{pathAvenir}AvenirNext-MediumItalic.ttf") format("ttf"),
  url("@{pathAvenir}AvenirNext-MediumItalic.svg#AvenirNext-MediumItalic") format("svg");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "AvenirNext";
  src: url("@{pathAvenir}AvenirNext-Regular.eot");
  src: url("@{pathAvenir}AvenirNext-Regular.eot?#iefix") format("embedded-opentype"),
  url("@{pathAvenir}AvenirNext-Regular.woff2") format("woff2"),
  url("@{pathAvenir}AvenirNext-Regular.woff") format("woff"),
  url("@{pathAvenir}AvenirNext-Regular.ttf") format("ttf"),
  url("@{pathAvenir}AvenirNext-Regular.svg#AvenirNext-Regular") format("svg");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AvenirNext";
  src: url("@{pathAvenir}AvenirNext-Italic.eot");
  src: url("@{pathAvenir}AvenirNext-Italic.eot?#iefix") format("embedded-opentype"),
  url("@{pathAvenir}AvenirNext-Italic.woff2") format("woff2"),
  url("@{pathAvenir}AvenirNext-Italic.woff") format("woff"),
  url("@{pathAvenir}AvenirNext-Italic.ttf") format("ttf"),
  url("@{pathAvenir}AvenirNext-Italic.svg#AvenirNext-Italic") format("svg");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "AvenirNext";
  src: url("@{pathAvenir}AvenirNext-UltraLight.eot");
  src: url("@{pathAvenir}AvenirNext-UltraLight.eot?#iefix") format("embedded-opentype"),
  url("@{pathAvenir}AvenirNext-UltraLight.woff2") format("woff2"),
  url("@{pathAvenir}AvenirNext-UltraLight.woff") format("woff"),
  url("@{pathAvenir}AvenirNext-UltraLight.ttf") format("ttf"),
  url("@{pathAvenir}AvenirNext-UltraLight.svg#AvenirNext-UltraLight") format("svg");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "AvenirNext";
  src: url("@{pathAvenir}AvenirNext-UltraLightItalic.eot");
  src: url("@{pathAvenir}AvenirNext-UltraLightItalic.eot?#iefix") format("embedded-opentype"),
  url("@{pathAvenir}AvenirNext-UltraLightItalic.woff2") format("woff2"),
  url("@{pathAvenir}AvenirNext-UltraLightItalic.woff") format("woff"),
  url("@{pathAvenir}AvenirNext-UltraLightItalic.ttf") format("ttf"),
  url("@{pathAvenir}AvenirNext-UltraLightItalic.svg#AvenirNext-UltraLightItalic") format("svg");
  font-style: italic;
  font-weight: 100;
}
