@import "./assets/mixins";
@import "./mixin";

html {
  height: 100%;
}

html, body {
  //position: relative;
  height: auto;
  height: 100%;
  min-height: 100%;
}

.keyframes(footer_show, { 0% {
  .translate(0, 100%);
  //height: 0;
} 100% {
    //height: auto;
    .translate(0, 0);
  } });

.keyframes(footer_hide, { 0% {
  .translate(0, 0);
} 100% {
    .translate(0, 100%);
  } });

.keyframes(header_show, { 0% {
  .translate(0, -100%);
} 100% {
    .translate(0, 0);
  } });

.wrapper {

  .stop-flickering();
  width: 100%;
  //height: 100%;
  //min-height: 560px;
  min-height: 100%;
  position: relative;

  background: #2d5589;

  background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, .27) 0%, rgba(255, 255, 255, .27) 51%, rgba(0, 0, 0, .27) 100%);
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, .27) 0%, rgba(255, 255, 255, .27) 51%, rgba(0, 0, 0, .27) 100%);
  background-image: -ms-linear-gradient(0deg, rgba(0, 0, 0, .27) 0%, rgba(255, 255, 255, .27) 51%, rgba(0, 0, 0, .27) 100%);

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  &__back {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: transparent url('@{pathImg}back.png') 0 0 repeat;
  }

  //&__content {
  //  position: absolute;
  //  z-index: 1;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  //height: 100%;
  //
  //  min-height: 100%;
  //}

  &__header {

    position: relative;

    z-index: 2;

    .animation-name(header_show);
    .animation-duration(@animationMainShowTime);
    .animation-fill-mode(both);
    .animation-timing-function(@easeTimingFunction);
  }

  &__body {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100px;
    //margin-top: 100px;
    .transition(margin @five ease, padding @five ease);

    @media (max-width: 500px),(max-height: 700px) {
      min-height: 50px;
    }

    &__popup {
      padding-top: 0;
      .transition(padding @five ease);
    }
  }

  &__footer {
    position: relative;
    z-index: 1;
    //margin-top: 100px;
    background: white;
    padding: 30px 0;
    box-sizing: border-box;

    .animation-name(footer_show);
    .animation-duration(@animationMainShowTime);
    .animation-fill-mode(both);
    .animation-timing-function(@easeTimingFunction);
  }
}

.app-start {

  .wrapper__body {
    z-index: 1;
  }

  .wrapper__footer {
    position: absolute;
    width: 100%;
    padding: 0;
    bottom: 0;
    left: 0;
    .animation-name(footer_hide);
    .animation-duration(@five);
    .animation-fill-mode(both);
    .animation-timing-function(@easeTimingFunction);
  }
}

.app-finish {
  .wrapper__body {
    top: 0;
    position: relative;
    margin-top: 0;
    &__questionnaire {
      position: absolute;
    }

    &__popup {
      padding-top: 100px;
      @media (max-width: 500px) {
        padding-top: 20px;
      }
    }
  }
  .wrapper__footer {
    display: none;
  }
}