@import "./assets/mixins";

@easeTimingFunction: cubic-bezier(0.175, 0.885, 0.315, 1.065);
//@easeTimingFunction: cubic-bezier(0.075, 0.820, 0.165, 1.000);

@transitionHeaderTime: .3s;
@animationMainShowTime: .7s;
@five: .5s;
@three: .3s;

.keyframes(show_with_scale, { 0% {
  opacity: 0;
  .scale(.1, .1);
} 100% {
    .scale(1, 1);
    opacity: 1;
  } });

.keyframes(show_with_scale_right, { 0% {
  opacity: 0;
  .scale(.1, 1);
} 100% {
    opacity: 1;
    .scale(1, 1);
  } });

.anim(@name, @duration, @delay) {
  .animation-name(@name);
  .animation-duration(@duration);
  .animation-delay(@delay);
  .animation-fill-mode(both);
  .animation-timing-function(@easeTimingFunction);
}

.show_with_scale(@duration, @delay) {
  .anim(show_with_scale, @duration, @delay);
}

.show_with_scale_right(@duration, @delay) {
  .anim(show_with_scale_right, @duration, @delay);
}

@prizeShowTime: @three;
@socialShowTime: @three;

.fontAvenirNext() {
  font-family: 'AvenirNext', 'Avenir Next', sans-serif;
  font-weight: 500;
}

.fontLato() {
  font-family: 'Lato', sans-serif;
}