.b-card {
  background: black;
  margin: 0 auto 30px;
  max-width: 600px;
  position: relative;
  overflow: hidden;

  box-shadow: 0 0 0 1px white;

  &.red {
    background: #e2502c;
  }
  &.yellow {
    background: #f6c500;
  }
  &.blue {
    background: #25456f;

    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, .27) 0%, rgba(255, 255, 255, .27) 51%, rgba(0, 0, 0, .27) 100%);
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, .27) 0%, rgba(255, 255, 255, .27) 51%, rgba(0, 0, 0, .27) 100%);
    background-image: -ms-linear-gradient(0deg, rgba(0, 0, 0, .27) 0%, rgba(255, 255, 255, .27) 51%, rgba(0, 0, 0, .27) 100%);

  }

  @media (max-width: 620px) {
    margin: 0 10px 30px;
  }

  &__top {
    min-height: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }

  &__bottom {
    &:before, &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: -18px;
      height: 36px;
      width: 36px;
      border-radius: 18px;
      background: white;
    }
    &:before {
      left: -18px;
    }
    &:after {
      right: -18px;
    }
    min-height: 84px;
    position: relative;
    background: white;
    //@media(max-width: 500px){
    //  position: relative;
    //  margin-bottom: 10px;
    //}
  }

  &__result {
    text-align: center;

    font-size: 64px;
    line-height: 0.635;
    .fontAvenirNext();
    color: rgb(255, 255, 255);
    margin-bottom: 30px;

    .yellow & {
      color: #002442;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    &__inner {

      font-size: 22px;
      .fontAvenirNext();
      color: rgb(255, 255, 255);
      font-weight: 700;

      .yellow & {
        color: #002442;
      }

    }
  }
  &__text {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    &__inner {

      font-size: 16px;
      .fontAvenirNext();
      color: rgb(255, 255, 255);
      line-height: 1.4;


      .yellow & {
        color: #002442;
      }

    }
  }

  &__prize {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    .b-prize__btn {
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      position: relative;
      margin-bottom: 10px;
    }
  }

  &__logos {

    padding: 16px 30px;
    .clearfix();
    position: relative;

    @media (max-width: 500px) {
      text-align: center;
    }
    &__logo {
      float: left;
      width: 50%;
      position: relative;

      &.ott {
        width: 110px/2;
        height: 106px/2;
      }

      &.champ {
        float: right;
        width: 84px/2;
        height: 104px/2;
      }

      @media (max-width: 500px) {
        &, &.champ {
          margin: 0 30px;
          float: none;
          display: inline-block;
        }
      }

      &__img {
        width: 100%;
        height: 100%;
      }
    }
  }
}