@import "./../../assets/mixins";

.keyframes(final__show, { 0% {
  opacity: 0;
  .scale(2, 2);
} 100% {
    .scale(1, 1);
    opacity: 1;
  } });

.b-final {

  .anim(final__show, .5s, 0s);

  &__title {
    text-align: center;
    margin-bottom: 30px;
    &__inner {
      font-size: 32px;
      .fontAvenirNext();
      color: rgb(255, 255, 255);
      line-height: 1.25;
      text-align: center;
    }
  }
  &__text {
    text-align: center;
    margin-bottom: 400px;
    @media(max-height: 850px){
      margin-bottom: 300px;
    }
    @media(max-height: 750px){
      margin-bottom: 200px;
    }
    @media(max-height: 650px){
      margin-bottom: 100px;
    }
    &__inner {
      font-size: 14px;
      .fontAvenirNext();
      color: rgb(255, 255, 255);
      line-height: 1.5;
    }
  }
  &__card {

  }

  &__social {
    max-width: 590px;
    margin: 0 auto;
    text-align: center;
    &.form{
      display: none;
    }
    &__title {
      margin-bottom: 30px;
      &__inner {
        font-size: 21px;
        .fontAvenirNext();
        color: rgb(255, 255, 255);
        line-height: 1.333;
      }
    }
    .b-socials {
      margin: 0 auto;
    }
  }

  &__form {
    display: none;
    margin: 0 0 300px;
    @media (max-width: 720px) {
      margin-bottom: 100px;
    }
    @media (max-width: 500px) {
      margin-bottom: 40px;
    }

    &__desc {
      max-width: 275px;
      margin: 0 auto 30px;
      text-align: center;
      &__inner {
        font-size: 14px;
        .fontAvenirNext();
        color: rgb(255, 255, 255);
        line-height: 1.5;
      }
    }

    &__control {
      max-width: 400px;
      margin: 0 auto 20px;

      &__input {
        background-color: rgb(255, 255, 255);
        width: 400px;
        height: 50px;
        box-sizing: border-box;

        padding: 0 20px;
        border: 0;

        font-size: 18px;
        .fontAvenirNext();
        //color: rgb(204, 204, 204);
        line-height: 1.167;
        -webkit-appearance: none;
        .error & {
          border: 3px solid red;
          color: red;
        }

      }
    }

    &__submit {
      text-align: center;
      &__btn {
        border: 0;
        background-color: rgb(230, 10, 11);
        width: 275px;
        height: 50px;

        font-size: 18px;
        .fontAvenirNext();
        color: rgb(255, 255, 255);
        line-height: 2.667;
        -webkit-appearance: none;

        &:disabled {
          background: #ccc;
        }
      }
    }
  }

  &__prize {
    display: none;
    text-align: center;
    &__title {
      text-align: center;
      &__inner {
        font-size: 14px;
        .fontAvenirNext();
        color: rgb(255, 255, 255);
        line-height: 3.429;

      }
    }
    .b-prize__btn {
      margin: 0 auto;
    }
  }

  &__rules {
    margin-top: 40px;
    text-align: center;
    .b-footer__rules__link__inner {
      color: white;
    }
  }

  &.form & {
    &__social {
      display: none;

      &.form{
        display: block;
      }
    }

    &__card {
      display: none;
    }

    &__form {
      display: block;
    }

    &__prize {
      display: block;
    }
  }

}

@import 'card';