@import "./../assets/mixins";
@import "./../mixin";

.keyframes(logo_init, { 0% {
  opacity: 0;
  .scale(.1, .1);
  .rotateZ(-180deg);
} 100% {
    opacity: 1;
    .scale(1, 1);
    .rotateZ(0deg);
  } });

.b-logo {
  width: 344px/2;
  height: 368px/2;
  position: relative;

  .anim(logo_init, @five, 0);
  .transition(transform .3s ease);
  @media (max-width: 680px) {
    width: 344px/3;
    height: 368px/3;
    margin-top: 35px;
  }

  &:hover {
    .scale(1.1, 1.1);
  }

  .b-shape {
    .animation-delay(@five);
  }

  &__back, &__front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__before, &__after {
      position: absolute;
      top: 0;
      left: 0;
    }

    &__before {
      z-index: -1;
    }

    &__after {
      z-index: 1;
    }

    &__img {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 0;
    }
  }

  &__back {
    z-index: 0;
  }

  &__front {
    z-index: 1;
    top: 2px;
    left: 2px;
  }
}

@import "Logo/shape";