@import "./../assets/mixins";

.keyframes(show, { 0% {
  opacity: 0;
} 10% {
    opacity: 0;
  } 90% {
      opacity: 1;
    } 100% {
        opacity: 0;
      } });

.keyframes(left-top06, { 0% {
  .translate(-10px, 10px);
  .rotate(156deg);
} 100% {
    .translate(-30px, 15px);
    .rotate(41deg);
  } });

.keyframes(left-top05, { 0% {
  .translate(-10px, 9px);
  .rotate(156deg);
} 100% {
    .translate(-39px, -23px);
    .rotate(-1deg);
  } });

.keyframes(left-top04, { 0% {
  .translate(10px, 10px);
  .rotate(49deg);
} 100% {
    .translate(-70px, 0px);
    .rotate(123deg);
  } });

.keyframes(left-top02, { 0% {
  .translate(0px, 20px);
  .rotate(105deg);
} 100% {
    .translate(-10px, -60px);
    .rotate(70deg);
  } });

.keyframes(left-top01, { 0% {
  .scale(.8, .8);
  .translate(0px, 20px);
  .rotate(45deg);
} 100% {
    .scale(1.1, 1.1);
    .translate(30px, -50px);
    .rotate(145deg);
  } });

.keyframes(left-top00, { 0% {
  .scale(.5, .5);
  .translate(-20px, 20px);
  .rotate(-45deg);
} 100% {
    .scale(1, 1);
    .translate(-40px, -30px);
    .rotate(-95deg);
  } });

.b-magic {

  position: absolute;
  top: 0;
  left: 0;

  .animation-name(show);
  .animation-duration(3000ms);
  .animation-fill-mode(both);

  &--cube-blue, &--cube-green, &--star, &--blue {
    .left-top00 & {
      .animation-name(left-top00);
      .animation-duration(3000ms);
      .animation-fill-mode(both);
    }
    .left-top01 & {
      .animation-name(left-top01);
      .animation-duration(3000ms);
      .animation-fill-mode(both);
    }
    .left-top02 & {
      .animation-name(left-top02);
      .animation-duration(3000ms);
      .animation-fill-mode(both);
    }
    .left-top03 & {
      .animation-name(left-top03);
      .animation-duration(3000ms);
      .animation-fill-mode(both);
    }
    .left-top04 & {
      .animation-name(left-top04);
      .animation-duration(3000ms);
      .animation-fill-mode(both);
    }
    .left-top05 & {
      .animation-name(left-top05);
      .animation-duration(3000ms);
      .animation-fill-mode(both);
    }
    .left-top06 & {
      .animation-name(left-top06);
      .animation-duration(3000ms);
      .animation-fill-mode(both);
    }
  }

  &--cube-blue {
    width: 15px;
    height: 17px;
    background: transparent url('@{pathImg}prize/images/magic00.png') center no-repeat;
  }
  &--cube-green {
    width: 17px;
    height: 18px;
    background: transparent url('@{pathImg}prize/images/magic02.png') center no-repeat;
  }
  &--star {
    width: 25px;
    height: 26px;
    background: transparent url('@{pathImg}prize/images/magic01.png') center no-repeat;
  }
  &--blue {
    width: 45px;
    height: 48px;
    background: transparent url('@{pathImg}prize/images/magic03.png') center no-repeat;
  }
}