@import './../assets/mixins';
@import './../mixin';

.b-prize {
  position: relative;
  &__btn {
    border-radius: 29px;
    background-color: rgb(105, 183, 232);
    width: 249px;
    height: 63px;
    position: relative;

    .show_with_scale(@prizeShowTime, 0s);

    .euro & {
      width: 249px + (77-88/2) + 40px;
    }
    @media (max-width: 500px) {
      width: 200px;
      .euro & {
        width: 260px;
      }
    }
    &:before {
      content: ' ';
      display: inline-block;
      width: 0;
      height: 63px;
      vertical-align: middle;
    }

    &__box {
      margin: 0 10px 0 20px;
      display: inline-block;
      vertical-align: middle;
      width: 88px/2;
      height: 70px/2;
      background: transparent url('@{pathImg}prize/box.png') center no-repeat;
      background-size: contain;

      //.euro & {
      //
      //  width: 77px;
      //  height: 37px;
      //  background: transparent url('@{pathImg}prize/euro.png') center no-repeat;
      //}
    }

    &__inner {
      display: inline-block;
      width: 150px;
      vertical-align: middle;
      //font-size: 12px;
      //.fontLato();
      color: rgb(255, 255, 255);
      line-height: 1.4;

      font-size: 14px;
      .fontAvenirNext();
      text-align: left;

      .euro & {
        width: 200px;
      }

      @media (max-width: 500px) {
        .euro & {
          width: 180px;
        }
      }

    }

    &__magic {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &:before, &:after {
        position: absolute;
        content: ' ';
        display: block;
        background-size: contain;
        background-repeat: no-repeat;

        .show_with_scale(@prizeShowTime, @prizeShowTime - .1s);
      }

      &:before {
        top: -25px;
        left: -30px;
        width: 172px/2;
        height: 174px/2;
        background-image: url('@{pathImg}prize/left.png');
        .euro & {
          width: 82px/2;
          height: 82px/2;
          top: auto;
          bottom: -5px;
          left: -18px;
          background-image: url('@{pathImg}prize/euro-left.png');
        }
      }

      &:after {
        bottom: -0;
        right: -38px;
        width: 138px/2;
        height: 94px/2;
        background-image: url('@{pathImg}prize/right.png');
        .euro & {
          bottom: -5px;
          right: -18px;
          width: 102px/2;
          height: 96px/2;
          background-image: url('@{pathImg}prize/euro-right.png');

        }
      }

    }
  }

}

@import 'magic';