@import "./../assets/mixins";
@import "./../mixin";

.keyframes(questionnaire__show, { 0% {
  opacity: 0;
  .scale(.1, .1);
} 100% {
    .scale(1, 1);
    opacity: 1;
  } });

.keyframes(questionnaire__hide, { 0% {
  opacity: 1;
  .scale(1, 1);
} 100% {
    opacity: 0;
    .scale(.1, .1);
  } });

.b-questionnaire {
  //position: absolute;
  //top: 0;
  //left: 0;
  //width: 100%;
  //height: 100%;

  .anim(questionnaire__show, @five, 0);

  &.hide {
    .anim(questionnaire__hide, @five, 0);
  }

  &.disable{
    display: none;
  }

  &__top {
    position: relative;
    z-index: 1;
    .transition(height @three @easeTimingFunction);
    //margin-top: 120px;
    //@media(max-width: 475px), (max-height: 500px){
    //  margin-top: 0;
    //}
  }

  &__bottom {
    //position: absolute;
    //bottom: 0;
    //left: 0;
    //width: 100%;
    //height: 0;
    z-index: 0;
    background: white;
    padding: 34px 0;
    box-sizing: border-box;
    .transition(height @three @easeTimingFunction);

    //@media(max-width: 500px) {
    //  position: relative;
    //  height: auto !important;
    //}

    &__container {
      max-width: 820px;
      margin: 0 auto;
      position: relative;
      //height: 100%;

      &__footer {

      }
    }

    &__rules {
      margin-top: 40px;
      text-align: center;
    }

    &__answers {
      padding: 0;
      max-width: 670px;
      margin: 0 auto 20px;
      box-sizing: border-box;
      overflow: hidden;
      opacity: 1;
      .transition(height @three @easeTimingFunction, opacity @three ease);
      //@media(max-width: 500px){
      //  height: auto !important;
      //}
      &__row {
        margin: 0 -36px/2;
        .clearfix();
        &__col {
          padding: 6px 18px;
          float: left;
          width: 50%;
          box-sizing: border-box;
          @media (max-width: 500px) {
            width: 100%;
          }
        }
        @media(max-width: 375px){
          margin: 0 15px;
        }
      }

      &.hide {
        opacity: 0;
        height: 0;
      }
      &.hide & {
        //&__row{
        //  height: 0;
        //  overflow: hidden;
        //}
      }

    }
  }
}

.b-questions-view {
  overflow: hidden;
  width: 100%;
  position: relative;
}

@import "questionnaire/index";