.keyframes(rules_show_window, { 0% {
  opacity: 0;
  .translate(0, 100%);
} 100% {
    opacity: 1;
    .translate(0, 0);
  } });

.keyframes(rules_show_back, { 0% {
  opacity: 0;
} 100% {
    opacity: 1;
  } });

.b-rules {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;

  &.show {
    display: block;
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 0;

    .anim(rules_show_back, .5s, 0);
  }
  &__body {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    &__window {
      position: relative;
      max-width: 700px;
      margin: 30px auto;
      background: white;

      padding: 30px;
      border-radius: 3px;

      .anim(rules_show_window, .5s, 0);

      @media (max-width: 760px) {
        margin: 30px;
      }

      h2 {
        .fontLato();
        font-size: 20px;
        font-weight: 800;
        line-height: 1.4;
        margin-bottom: 20px;
      }

      p {
        .fontAvenirNext();
        line-height: 1.4;
        margin-bottom: 10px;
      }

      ul {
        list-style: decimal;
        margin-left: 17px;
        li {
          padding-left: 10px;
        }
        &.letter {
          list-style: lower-latin;
        }
        &.rom {
          list-style: lower-roman;
        }
      }

      span.red {
        color: red;
      }
      span.blue {
        color: blue;
      }
    }
  }

  &-close {

    cursor: pointer;

    position: absolute;
    top: -15px;
    right: -15px;

    font-family: Arial, sans-serif;
    width: 30px;
    font-size: 30px;
    height: 30px;

    border-radius: 10px;
    background: red;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: white;

    &:hover {
      background: darken(red, 10%);
    }

  }
}
