@import "./../mixin";

.b-socials {
  margin-top: 5px;
  position: relative;

  &__row {
    position: relative;
    z-index: 1;

    &__col {
      display: inline-block;
      margin: 0 8px;

      @t: .4s;

      .show_with_scale(@t, 0);

      &:nth-child(2) {
        .animation-delay(@t/4);
      }
      &:nth-child(3) {
        .animation-delay(@t*2/4);
      }
      &:nth-child(4) {
        .animation-delay(@t*3/4);
      }
    }
  }

  &__magic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .show_with_scale(.2s, .4s);

    &:after {
      position: absolute;
      content: ' ';
      display: block;
      top: -15px;
      left: -15px;
      width: 402px/2;
      height: 186px/2;
      background: transparent url('@{pathImg}social/back.png') center no-repeat;
      background-size: contain;
      z-index: 0;
    }
  }
}

@import "./social/index";