.keyframes(camp_init, { 0% {
  opacity: 0;
  width: 0;
} 30% {
    opacity: 1;
  } 100% {
      opacity: 1;
      width: 100%;
    } });

.b-footer-champ {
  border-radius: 0 29px 29px 0;
  height: 108px;
  text-align: center;
  padding-left: 30px;

  position: relative;
  background-color: rgb(230, 105, 22);
  z-index: 1;

  .anim(camp_init, @five, .4s);

  &:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 108px;
  }

  &__logo {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 30px;
    &__img {
      height: 92px/2;

      &.logo {
        width: 75px/2;
        margin-right: 15px;
      }

      &.text {
        width: 379px/2;
        @media (max-width: 680px) {
          display: none;
        }
      }
    }

    @media (max-width: 720px) {
      text-align: center;
      margin-left: 0;
      &__img {
        display: block;
        margin: 0 auto !important;
      }
    }

    @media (max-width: 680px) {
      margin-top: 0;
    }
  }

  &__shapes {
    position: absolute;
    bottom: 0;
    right: 0;
    .anim(shapes_init, 1.3s, 1.5s);
  }

}