@import './../../../assets/mixins';
@import './../../../mixin';

.keyframes(prize_init, { 0% {
  opacity: 0;
  width: 0;
} 30% {
    opacity: 1;
  } 100% {
      opacity: 1;
      width: 100%;
    } });

.b-footer-prize {
  float: right;
  border-radius: 29px 0 0 29px;
  background-color: rgb(113, 181, 232);
  height: 108px;
  text-align: left;
  padding-left: 30px;
  position: relative;
  z-index: 1;
  width: 100%;

  .anim(prize_init, @five, .4s);

  @media (max-width: 680px) {
    text-align: center;
  }

  &:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 108px;
    @media (max-width: 720px) {
      display: none;
    }

    @media (max-width: 680px) {
      display: inline-block;
    }
  }

  &__logo,
  &__text {
    display: inline-block;
    vertical-align: middle;
    @media (max-width: 720px) {
      display: block;
      margin: 0 10px;
    }

  }
  &__logo {
    margin-right: 20px;
    @media (max-width: 850px) {
      margin-left: 10px;
    }
    @media (max-width: 720px) {
      margin: 10px 10px;
      padding-right: 100px;
      text-align: center;
    }
    @media (max-width: 680px) {
      //display: inline-block;
      //text-align: center;
      //padding-right: 50px;
      display: none;
    }
    &__img {
      display: inline-block;
      margin: 0 auto;
      width: 88px*.8;
      height: 70px*.8;
    }
  }

  &__text {
    max-width: 200px;
    text-align: left;
    @media (max-width: 720px) {
      max-width: 100%;
      box-sizing: border-box;
      padding-right: 100px;
      text-align: center;
    }
    @media (max-width: 680px) {
      //display: none;
      padding-right: 55px;
      width: 140px;
      text-align: left;
      display: inline-block;
    }
    &__inner {
      font-size: 16px;
      .fontLato();
      color: rgb(255, 255, 255);
      line-height: 1.313;
    }
  }

  &__shapes {
    position: absolute;
    bottom: 0;
    left: 0;
    .anim(shapes_init, 1.3s, 1.5s);

    @media (max-width: 850px) {
      display: none;
    }
  }

}