.keyframes(footer_logo_text, { 0% {
  opacity: 0;
} 100% {
    opacity: 1;
  } });

.b-footer-logo {
  max-width: 820px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  &__prize,
  &__champ {
    top: 40px;
    z-index: 0;

    &__text {
      text-align: center;
      &__inner {
        font-size: 14px;
        .fontAvenirNext();
        color: rgb(204, 204, 204);
        line-height: 3;
        .animation-name(footer_logo_text);
        .animation-fill-mode(both);
        .animation-duration(@three);
        .animation-delay(2s);
      }
    }
  }
  &__prize {
    position: absolute;
    left: 0;
    width: 50%;
  }

  &__ball {
    position: relative;
    z-index: 1;
    display: inline-block;
  }

  &__champ {
    position: absolute;
    right: 0;
    width: 50%;
  }
}

.keyframes(shapes_init, { 0% {
  .scale(0, 0);
  opacity: 0;
} 100% {
    .scale(1, 1);
    opacity: 1;
  } });

@import "logo-champ";
@import "logo-prize";