@font-face {
    font-family: "AvenirNext-BoldItalic";
    src: url("AvenirNext-BoldItalic.eot");
    src: url("AvenirNext-BoldItalic.eot?#iefix") format("embedded-opentype"),
         url("AvenirNext-BoldItalic.woff2") format("woff2"),
         url("AvenirNext-BoldItalic.woff") format("woff"),
         url("AvenirNext-BoldItalic.ttf") format("ttf"),
         url("AvenirNext-BoldItalic.svg#AvenirNext-BoldItalic") format("svg");
    font-style: italic;
    font-weight: 700;
}