@font-face {
    font-family: "AvenirNext-Medium";
    src: url("AvenirNext-Medium.eot");
    src: url("AvenirNext-Medium.eot?#iefix") format("embedded-opentype"),
         url("AvenirNext-Medium.woff2") format("woff2"),
         url("AvenirNext-Medium.woff") format("woff"),
         url("AvenirNext-Medium.ttf") format("ttf"),
         url("AvenirNext-Medium.svg#AvenirNext-Medium") format("svg");
    font-style: normal;
    font-weight: normal;
}