@font-face {
    font-family: "AvenirNext-Bold";
    src: url("AvenirNext-Bold.eot");
    src: url("AvenirNext-Bold.eot?#iefix") format("embedded-opentype"),
         url("AvenirNext-Bold.woff2") format("woff2"),
         url("AvenirNext-Bold.woff") format("woff"),
         url("AvenirNext-Bold.ttf") format("ttf"),
         url("AvenirNext-Bold.svg#AvenirNext-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
}