@font-face {
    font-family: "AvenirNext-MediumItalic";
    src: url("AvenirNext-MediumItalic.eot");
    src: url("AvenirNext-MediumItalic.eot?#iefix") format("embedded-opentype"),
         url("AvenirNext-MediumItalic.woff2") format("woff2"),
         url("AvenirNext-MediumItalic.woff") format("woff"),
         url("AvenirNext-MediumItalic.ttf") format("ttf"),
         url("AvenirNext-MediumItalic.svg#AvenirNext-MediumItalic") format("svg");
    font-style: normal;
    font-weight: normal;
}