@font-face {
    font-family: "AvenirNext-Italic";
    src: url("AvenirNext-Italic.eot");
    src: url("AvenirNext-Italic.eot?#iefix") format("embedded-opentype"),
         url("AvenirNext-Italic.woff2") format("woff2"),
         url("AvenirNext-Italic.woff") format("woff"),
         url("AvenirNext-Italic.ttf") format("ttf"),
         url("AvenirNext-Italic.svg#AvenirNext-Italic") format("svg");
    font-style: italic;
    font-weight: 300;
}