@font-face {
    font-family: "AvenirNext-DemiBoldItalic";
    src: url("AvenirNext-DemiBoldItalic.eot");
    src: url("AvenirNext-DemiBoldItalic.eot?#iefix") format("embedded-opentype"),
         url("AvenirNext-DemiBoldItalic.woff2") format("woff2"),
         url("AvenirNext-DemiBoldItalic.woff") format("woff"),
         url("AvenirNext-DemiBoldItalic.ttf") format("ttf"),
         url("AvenirNext-DemiBoldItalic.svg#AvenirNext-DemiBoldItalic") format("svg");
    font-style: normal;
    font-weight: demi;
}