@font-face {
    font-family: "AvenirNext-Heavy";
    src: url("AvenirNext-Heavy.eot");
    src: url("AvenirNext-Heavy.eot?#iefix") format("embedded-opentype"),
         url("AvenirNext-Heavy.woff2") format("woff2"),
         url("AvenirNext-Heavy.woff") format("woff"),
         url("AvenirNext-Heavy.ttf") format("ttf"),
         url("AvenirNext-Heavy.svg#AvenirNext-Heavy") format("svg");
    font-style: normal;
    font-weight: 900;
}