@font-face {
    font-family: "AvenirNext-UltraLightItalic";
    src: url("AvenirNext-UltraLightItalic.eot");
    src: url("AvenirNext-UltraLightItalic.eot?#iefix") format("embedded-opentype"),
         url("AvenirNext-UltraLightItalic.woff2") format("woff2"),
         url("AvenirNext-UltraLightItalic.woff") format("woff"),
         url("AvenirNext-UltraLightItalic.ttf") format("ttf"),
         url("AvenirNext-UltraLightItalic.svg#AvenirNext-UltraLightItalic") format("svg");
    font-style: italic;
    font-weight: 300;
}