@font-face {
    font-family: "AvenirNext-DemiBold";
    src: url("AvenirNext-DemiBold.eot");
    src: url("AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype"),
         url("AvenirNext-DemiBold.woff2") format("woff2"),
         url("AvenirNext-DemiBold.woff") format("woff"),
         url("AvenirNext-DemiBold.ttf") format("ttf"),
         url("AvenirNext-DemiBold.svg#AvenirNext-DemiBold") format("svg");
    font-style: normal;
    font-weight: demi;
}