@font-face {
    font-family: "AvenirNext-HeavyItalic";
    src: url("AvenirNext-HeavyItalic.eot");
    src: url("AvenirNext-HeavyItalic.eot?#iefix") format("embedded-opentype"),
         url("AvenirNext-HeavyItalic.woff2") format("woff2"),
         url("AvenirNext-HeavyItalic.woff") format("woff"),
         url("AvenirNext-HeavyItalic.ttf") format("ttf"),
         url("AvenirNext-HeavyItalic.svg#AvenirNext-HeavyItalic") format("svg");
    font-style: italic;
    font-weight: 900;
}