var config = (function () {
  "use strict";
  return {
    confirm     : '{{{confirm}}}',
    valideEmail : '{{{valideEmail}}}',
    url         : '{{{url}}}',
    redirectURL : '{{{redirectURL}}}',
    source      : '{{{source}}}',
    path        : {
      img : '{{{pathImg}}}',
      data: '{{{pathData}}}'
    }
  };
}());