extends layout

block styles
  link(rel="stylesheet", href=config.path.css + 'assets/reset.css')
  link(rel="stylesheet", href=config.path.css + 'index.css')

block body
  .wrapper
    .wrapper__back
    .wrapper__content#app


block scripts
  script(src=config.path.js + "assets/react.min.js")
  script(src=config.path.js + "assets/react-dom.min.js")
  script(src=config.path.js + "uefa.js")