include og

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Футбольный конкурс от OneTwoTrip

    +opengraph_only_img(config.url + 'img/share/share.png', 1200, 627)

    block styles

  body
    block body

    block scripts