@import "../../assets/mixins";

.b-footer {
  background: white;
  position: relative;

  &__logo {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    .transition(top @three ease);

  }

  &__content {
    padding-top: 134px;
    margin-bottom: 100px;
    text-align: center;
    @media (max-width: 680px),(max-height: 700px) {
      padding-top: 114px;
      margin-bottom: 10px;
    }
    @media (max-height: 620px) {
      padding-top: 100px;
    }
    &__title {
      margin: 5px auto 10px;
      max-width: 500px;

      &__inner {
        font-size: 18px;
        .fontAvenirNext();
        color: rgb(18, 37, 90);
        line-height: 1.2;
        font-weight: 500;
      }

      @media(max-width: 520px){
        margin: 5px 10px 10px;
      }
    }
    &__text {

      max-width: 450px;
      margin: 0 auto 30px;
      @media (max-width: 450px) {
        margin: 0 10px 10px;
      }
      &__inner {
        .fontLato();
        font-size: 14px;
        line-height: 1.4;
        color: #666666;
        font-weight: 400;
      }
    }

    &__btns {

    }
  }

  &__rules {
    &__link {
      &__inner {
        font-size: 14px;
        .fontLato();
        color: rgb(102, 102, 102);
        text-decoration: underline;
        line-height: 2.143;

      }
    }
  }

  &__bottom {
    border-top: 1px solid #eee;
    padding-top: 30px;
    max-width: 820px;
    margin: 0 auto;
    position: relative;
    .clearfix();

    @media (max-width: 820px) {
      margin: 0 10px;
    }
    @media (max-width: 680px) {
      //padding-top: 10px;
    }
    &__copyright, &__social, &__rules {
      width: 100%/3;
      float: left;
    }
    &__copyright {
      padding-top: 9px;
      text-align: left;

      font-size: 14px;
      .fontLato();
      color: rgb(102, 102, 102);
      line-height: 2.143;

    }
    &__social {
      text-align: center;
    }
    &__rules {
      padding-top: 9px;
      text-align: right;
    }

    @media(max-width: 680px){
      margin: 0 30px;

      position: relative;
      &__copyright, &__social, &__rules {
        margin-top: 50px;
        width: 100%/2;
        float: left;
      }

      &__social {
        position: absolute;
        width: 100%;
        top: 20px;
        margin-top: 0;
      }

    }
  }

  &.hide {
    display: none;
  }
}

.app-start {
  .b-footer {

    &__logo {
      top: 0px;
    }
  }
}

@import "footer/logo";
@import "start_btn";