@import "../../assets/mixins";
@import "../../mixin";

.keyframes(header_hide, { 0% {
  opacity: 1;
  .translate(0, 0);
  height: 120px;
  padding-top: 30px;
  padding-bottom: 20px;
} 100% {
    opacity: 0;
    .translate(0, -100%);
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  } });

.b-header {
  padding-top: 30px;
  padding-bottom: 20px;
  //@media (max-width: 680px) {
  //  padding-top: 10px;
  //}
  &__logos {
    max-width: 825px;
    margin: 0 auto;
    position: relative;

    //@media (max-width: 680px) {
    //  margin-bottom: 10px;
    //}
    &__logo {
      position: relative;
      height: 140px/2;
      margin-bottom: 10px;
      &__ott {
        display: block;
        width: 146px/2;
        height: 140px/2;
        position: absolute;
        left: 50%;
        margin-left: -146px/2/2;

        .transition(left @transitionHeaderTime @easeTimingFunction, margin @transitionHeaderTime @easeTimingFunction);

        &__img {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }

      &__uefa {
        width: (120px*(68px/84px))/2;
        height: 120px/2;
        position: relative;
        margin-left: 146px/2 + 34;
        display: none;
        &__img {
          margin-top: 5px;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }
    }

    &__prize {
      position: absolute;
      top: 0;
      right: 0;
      @media (max-width: 500px), (max-height: 500px) {
        display: none;
      }
    }
  }

  &__title {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;

    .transition(transform @transitionHeaderTime ease, opacity @transitionHeaderTime ease);
    @media (max-width: 520px) {
      margin: 0 10px;
    }
    &__heading {
      font-size: 32px;
      .fontAvenirNext();
      color: rgb(255, 255, 255);
      line-height: 1.25;
      font-weight: 500;

      @media (max-width: 500px),(max-height: 620px) {
        font-size: 26px;
        line-height: 1.3;
      }
    }
  }

  &.hide & {
    &__title {
      display: none;
    }
  }

  &.disable {
    overflow: hidden;
    padding: 0;
    .animation-name(header_hide);
    .animation-duration(@five);
    .animation-fill-mode(both);
    height: 0;
  }
}

.app-start {
  .b-header {
    &__logos {
      &__logo {

        @media (max-width: 500px) {
          left: 50%;
          margin-left: -(146px/2 + (120px*(68px/84px))/2 + 34)/2;
        }
        &__ott {
          left: 0;
          margin-left: 0;
          &__img {
          }
        }
        &__uefa {
          display: block;
          .show_with_scale(@transitionHeaderTime, @transitionHeaderTime - .05s);
          &__img {
          }
        }
      }
    }

    &__title {
      opacity: 0;
      .translate(-100%, 0);
      &__heading {
      }
    }
  }
}

