.b-start-btn {
  text-align: center;
  background-color: rgb(230, 10, 11);
  left: 459px;
  top: 582px;
  width: 275px;
  height: 50px;

  border: 0;
  padding: 0;
  cursor: pointer;

  &__inner {
    font-size: 18px;
    .fontAvenirNext();
    color: rgb(255, 255, 255);
    line-height: 2.667;

  }

  &:hover {
    background-color: lighten(rgb(230, 10, 11), 10%);

  }


  &:disabled{
    cursor: default;
    background: #cccccc;
  }
}