@import "./../../assets/mixins";
@import "./../../mixin";

.keyframes(shape, { 0% {
  opacity: 0;
  .translate(50px, 50px);
} 30% {
    opacity: 1;
    //.translate(35px, 35px);
  } 100% {
      opacity: 1;
      .translate(0, 0);
    } });

.b-simple-shape,
.b-shape {
  position: absolute;

  background-size: cover;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.b-shape {
  width: 114px/2;
  height: 126px/2;

  .animation-name(shape);
  .animation-duration(2.5s);
  .animation-fill-mode(both);
  .animation-timing-function(ease-out);

  &.green {
    .animation-duration(4.5s);
    background-image: url('@{pathImg}main/shape-green.png');
  }

  &.red {
    .animation-duration(3.5s);
    background-image: url('@{pathImg}main/shape-red.png');
  }

  &.purple {
    .animation-duration(2.0s);
    background-image: url('@{pathImg}main/shape-purple.png');
  }

  &.orange {
    .animation-duration(1.5s);
    background-image: url('@{pathImg}main/shape-orange.png');
  }

  &.blue {
    .animation-duration(1.5s);
    background-image: url('@{pathImg}main/shape-blue.png');
  }
}

.b-simple-shape {
  width: 34px/2;
  height: 40px/2;

  //.animation-name(shape);
  //.animation-duration(2.5s);
  //.animation-fill-mode(both);

  &.green {
    background-image: url('@{pathImg}main/simple_shape-green.png');
  }

  &.red {
    background-image: url('@{pathImg}main/simple_shape-red.png');
  }

  &.purple {
    background-image: url('@{pathImg}main/simple_shape-purple.png');
  }

  &.orange {
    background-image: url('@{pathImg}main/simple_shape-orange.png');
  }

  &.blue {
    background-image: url('@{pathImg}main/simple_shape-blue.png');
  }
}